<mat-card>
  <mat-card-title>Cadastrar novo professor</mat-card-title>

  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Nome:</mat-label>
      <input
        matInput
        name="nome"
        placeholder="Nome do professor"
        formControlName="nome"
      />
      <mat-error *ngIf="form.get('nome')?.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>E-mail:</mat-label>
      <input
        matInput
        type="email"
        name="email"
        placeholder="E-mail do aluno"
        formControlName="email"
      />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>CPF:</mat-label>
      <input
        matInput
        name="cpf"
        pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
        placeholder="Ex: 000.000.000-00"
        formControlName="cpf"
      />
      <mat-error *ngIf="form.get('cpf')?.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Data de Nascimento:</mat-label>
      <input
        matInput
        type="date"
        name="dataNasc"
        placeholder="Ex: 26/09/2002"
        formControlName="dataNasc"
      />
      <mat-error *ngIf="form.get('dataNasc')?.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Graduação:</mat-label>
      <input
        matInput
        name="graduacao"
        placeholder="Ex: Engenharia de Software"
        formControlName="graduacao"
      />
      <mat-error *ngIf="form.get('graduacao')?.hasError('required')">
        Campo obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Senha:</mat-label>
      <input
        matInput
        type="password"
        name="senha"
        matInput
        placeholder="Senha"
        formControlName="senha"
        required
      />
      <mat-error *ngIf="form.get('senha')?.hasError('required')">
        Campo é obrigatório
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="save()">Cadastrar</button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
