.footer {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  background:linear-gradient(180deg, rgba(8,1,113,1) 0%, rgba(7,7,205,1) 35%, rgba(0,212,255,1) 100%);
  color:azure;
}

.footer > span {
  font-size: 1.1rem;
  font-weight: 300;

}
