.sidenav {
  background:linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(34, 34, 34) 35%, rgb(58, 57, 57) 100%);
  width: 200px;

  a {
    color: #FFFFFF;

    i {
      padding-right: 10px;
    }
  }

  .content {
    padding: 16px;
    background-color: #FFFFFF;
  }
}
