<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="">
        <i class="material-icons">home</i>
        Inicio</a
      >

      <mat-divider></mat-divider>
      <a mat-list-item routerLink=""
        ><i class="material-icons">account_box</i> Meu Perfil</a
      >

      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/curso"
        ><i class="material-icons">business_center</i> Cursos</a
      >

      <mat-divider *ngIf="checkRole(['admin'])"></mat-divider>
      <a mat-list-item routerLink="/professor" *ngIf="checkRole(['admin'])"
        ><i class="material-icons">assistant</i> Professores</a
      >

      <mat-divider *ngIf="checkRole(['admin'])"></mat-divider>
      <a mat-list-item routerLink="/aluno" *ngIf="checkRole(['admin'])"
        ><i class="material-icons">person</i> Alunos</a
      >

      <mat-divider></mat-divider>
      <a mat-list-item routerLink=""
        ><i class="material-icons">meeting_room</i> Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
